
<!-- string interpolation {{data}} -->
<!--property binding  [property ]="data"-->
<!-- event binding (event)= "expresion" -->
<!--two way binding [(ngmodel)]="data"-->

<div class="container">
    <div class="row">
        <div>
            <!-- event binding  -->
            <!-- <label>Add new server</label>
            <input  type="text" class="form-control" (input)="onUpdateServerName($event)" />
            <br>
            <h2>{{serverName}}</h2>
            <br> -->
            <!-- two way binding  -->
            <label>Add new server</label>
            <input  type="text" class="form-control" [(ngModel)]="serverName" />
           
            <br>
            <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add new server</button>
            <!-- estructural directive  -->
            <p *ngIf="isServerCreated; else noServer" >{{serverCreated}}</p>

            <ng-template #noServer>
                <p>No server Created</p>
            </ng-template>
           

            <!-- example of string interpolation which is different to databinding {{}}-->
            <!-- event binding (click)= oncreateserver() -->
            <!-- <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add new server</button>
            <p [innerText]="allowNewServer" ></p>
            <p>{{serverCreated}}</p>

            <br>
            <h2>{{serverName}}</h2> -->

        </div>
    </div>

</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-12">
            <label>Insert your Username: </label>
            <input class="form-control" type="text" [(ngModel)]="userName" />
            <br>
            <p>This is the username: {{userName}}</p>
            <br>
        </div>
       
        <div class="col-2">
            <button class="btn btn-primary" [disabled]="userName===''" (click)="emptyUsername()">Clean Username</button>

        </div>

    </div>


</div>


<div class="container">
    <div class="row">
        <app-server *ngFor="let server of servers"></app-server>
    </div>

</div>
